/* Typography */
@import url('https://fonts.googleapis.com/css?family=Noto+Sans:700|Roboto:400,700&display=swap');

h1,h2,h3,h4{
  font-family: 'Noto Sans', sans-serif;
  font-weight: 700;
}

body{
  font-family: Roboto, sans-serif;
  font-weight: 400;
}

/* Base Styling */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a{
  text-decoration: none;
}

img{
  width: 100%;
  height: auto;
}

.projects-container img{
  border: 1px solid #A5A5A5;
}

/* Mobile First*/
/* Header Layout */
#header-layout{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

#june-jung{
  margin: auto;
  padding-right: 36px;
}

#nav-menu-layout{
  display:none;
}

#drawer-layout{
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  height: calc(100vh - 50px);
  text-align: center;
}

#nav-hamburger{
  width: 100vw;
}

#nav-social{
  display: none;
}

#drawer-close-bttn{
  text-align: right;
}

#nav-social-hamburger{
  display: flex;
  flex-flow: column nowrap;
}

/* Footer (sticky) Layout */
#main-layout{
  display: flex;
  flex-flow: column nowrap;
  min-height: 100vh;
}

#footer-layout{
  margin-top: auto;
  text-align: center;
}

/* Landing Layout */
h1{
  margin: 0 auto;
  padding: 0 1rem 0 1rem;
  max-width: 400px;
  text-align: left;
}

#landing-layout{
  display: flex;
  flex-flow: column nowrap;
}

#landing-layout img{
  max-width: 400px;
  border: 1px solid #828282;
}

#landing-layout>div{
  margin-bottom: 2rem;
}

#landing-layout>div>a{
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

/* Projects Layout */
.projects-container h1{
  text-align: center;
}

.code-img{
  max-width: 700px;
}

.react-img{
  max-width: 1440px;
}

/* About Layout */
#about-intro>p{
  margin: 0 auto;
  padding: 0 1rem 0 1rem;
  max-width: 400px;
}

#tools-layout{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

#tools-layout>div{
  padding: 0 1rem 0 1rem;
}

/* Contact Layout */
#contact-layout{
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

form{
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  min-width: 80vw;
}

#contact-button{
  min-width: 80vw;
  margin-top: 2rem;
}

/* Web */
@media (min-width: 420px) {
  #tools-layout{
    justify-content: space-around;
  }
}

@media (min-width: 600px) {
  /* Header Layout */
  #nav-menu-layout{
    display: flex;
    flex-flow: row nowrap;
  }

  #nav-hamburger-button{
    display: none;
  }

  #nav-social{
    display: block;
  }

  #june-jung{
    padding-right: 0px;
  }

  /* About Layout */
  #design-layout{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
  }

  #design-layout>div:first-of-type{
    padding-right: 2rem;
  }
}

@media (min-width: 700px) {
  /* Landing Layout */
  h1{
    max-width: 600px;
    text-align: center;
  }

  /* About Layout */
  #about-intro>p{
    max-width: 600px;
  }

  #dev-layout{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
  }
  
  #dev-layout>div:first-of-type{
    padding-right: 4rem;
  }

  /* Contact Layout */
  form{
    min-width: 500px;
    max-width: 500px;
  }
  
  #contact-button{
    min-width: 500px;
    max-width: 500px;
  }
}

@media (min-width: 850px) {
/* Landing Layout */
  #landing-layout{
    flex-flow: row wrap;
    justify-content: space-evenly;
    max-width: 1590px;
    margin: 0 auto;
  }
}

@media (min-width: 1100px) {
/* About Layout */
    #tools-layout{
      max-width: 900px;
      margin: 0 auto;
    }
  }